<!DOCTYPE html>
<html>
  <head>
    <title>AuctionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Leilão de Estoque</h1>

      <nav>
        <ul>
          <li><%= link_to 'Início', root_path %></li>
          <li><%= link_to 'Itens', items_path %></li>
        </ul>
      </nav>

      <section>
        <% flash.each do |type, msg| %>
          <div>
            <%= msg %>
          </div>
        <% end %>
      </section>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
