<!DOCTYPE html>
<html>
  <head>
    <title>AuctionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <link href='https://fonts.googleapis.com/css?family=Atkinson Hyperlegible' rel='stylesheet'>
  </head>

  <body>
    <header>
      <h1>Leilão de Estoque</h1>

      <nav>
        <ul class="navbar">
          <li><%= link_to 'Início', root_path %></li>
          <% if admin_signed_in? %>
            <li><%= link_to 'Gerenciamento de Lotes', lots_path %></li>
            <li><%= link_to 'Itens', items_path %></li>
            <li class="right-item"><%= button_to 'Sair', destroy_admin_session_path, method: :delete %></li>
            <li class="right-item">[admin] <%= current_admin.email %></li>
          <% elsif user_signed_in? %>
            <li><%= link_to 'Meus Lotes', owned_lots_path %></li>
            <li class="right-item"><%= button_to 'Sair', destroy_user_session_path, method: :delete %></li>
            <li class="right-item"><%= current_user.email %> </li>
          <% else %>
            <li class="right-item"><%= link_to 'Administrador', new_admin_session_path %></li>
            <li class="right-item"><%= link_to 'Usuário', new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <section>
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
    </section>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
